.card {
    height: 400px;
    width: 500px;
    border: 2px solid black;
    display: grid;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.image-container {
    max-width: 500px;
    height: 300px;
    align-self: center;
    justify-self: center;
}

img {
    height: 300px;
    width: 100%;
}

.details {
    font-size: 1.7rem;
    font-weight: bold;
    padding-left: 20px;
}